{% include "admin/layouts/header.twig" %}

<!-- Page Content -->
<div id="page-wrapper">

    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading"><h6 style="color: white;">Choose Category</h6></div>
                <div class="panel-body">
                    <select class="form-control" id="category">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>


                    <br />

                    <button class="btn btn-primary" id="goto">Open</button>
                </div>
            </div>


        </div>

        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h6 style="color: white;">{{ category | capitalize }}</h6></div>
                <div class="panel-body">
                    <table class="table table-stripped">
                        <thead>
                        <tr>

                            <th>Book Title</th>
                            <th>Author</th>
                            <th></th>
                            <th>Actions</th>

                        </tr>
                        </thead>

                        <tbody>

                        {% for data in pagination %}
                            <tr>

                                <td><a href="{{app.url_generator.generate('viewDigitalBookBySlug', {'slug' : data.slug}) }}">{{ data.title }}</a></td>
                                <td>{{ data.author }}</td>
                                <td><a href="http://localhost:8000/{{ data.attachmentPath }}" class="btn btn-success">Read</a></td>
                                <td><form style ='float: left; padding: 5px;' method="POST" action="{{app.url_generator.generate('deleteBySlug', {'slug' : data.slug}) }}">
                                        <input class="btn btn-danger" value="Delete" type="submit">
                                    </form>
                                    <form style ='float: left; padding: 5px;' method="GET" action="{{app.url_generator.generate('editDigitalBookBySlug', {'slug' : data.slug}) }}">
                                        <input class="btn btn-info" value="Edit" type="submit">
                                    </form>
                                    <form style ='float: left; padding: 5px;' method="POST" action="{{app.url_generator.generate('addFeaturedBook') }}">
                                        <input type="text" hidden value="{{ data.slug }}" name="slug"/>
                                        <input class="btn btn-success" value="Add To Featured" type="submit">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>



    <!-- /#page-content-wrapper -->

</div>

{% include "admin/layouts/js.twig" %}

<script>
    $("#goto").click(function() {

        var category = $( "#category option:selected" ).text();

        location.href = 'http://localhost:8000/admin/digital-book/'+ category;

    });
</script>

{% include "admin/layouts/footer.twig" %}