
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{app.url_generator.generate('userProfile') }}">
                        Profile
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{app.url_generator.generate('viewBorrowRequest') }}">
                        Borrowing Request
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{app.url_generator.generate('viewHistory') }}">
                        Borrowed Books
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{app.url_generator.generate('viewBorrowingBooks') }}">
                        Borrowing Books

                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{app.url_generator.generate('viewRejectedRequest') }}">
                        Rejected Request

                    </a>
                </h4>
            </div>
        </div>
    </div><!--/category-products-->
